@charset "UTF-8";
.section-price::before, .section-cta::before, .header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

/* Reset and base styles  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%; /* sticky footer */
  scroll-behavior: smooth; /* для плавного скролла */
}

body {
  height: 100%; /* sticky footer */
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #2E2E2E;
}

body > * {
  flex-shrink: 0; /* sticky footer */
}

input, textarea, button {
  font-family: inherit;
  padding: 0;
}

label {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

/* Grid styles */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Utility */
.none {
  display: none !important;
}

/* Sticky Footer */
.footer {
  margin-top: auto; /* sticky footer */
  /* Just for fun */
  text-align: center;
  background-color: #e2e2e2;
  padding: 50px 0;
}

.header {
  position: relative;
  z-index: 99;
  background-image: url("./../img/bg/header-3.jpg");
  background-size: cover;
  background-position: center;
  /* Desktop medium */
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1600px) {
  .header {
    background-image: url("./../img/bg/header-3-1600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 1199px) {
  .header {
    padding-bottom: 50px;
    background-image: url("./../img/bg/header-3-900.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 899px) {
  .header {
    background-image: url("./../img/bg/header-3-600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 599px) {
  .header {
    padding-bottom: 0;
    background-image: url("./../img/bg/header-3-320.jpg");
    background-size: cover;
    background-position: center;
  }
}
.header__wrapper {
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 100px;
  color: #fff;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .header__wrapper {
    padding-bottom: 0px;
  }
}
@media (max-width: 899px) {
  .header__wrapper {
    padding-top: 20px;
  }
}
@media (max-width: 599px) {
  .header__wrapper {
    padding-bottom: 40px;
  }
}

.header__buttons-nav-icon {
  flex-shrink: 0;
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 140px;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .header__buttons {
    margin-bottom: 100px;
    width: 100%;
  }
}
@media (max-width: 899px) {
  .header__buttons {
    margin-bottom: 30px;
    width: 100%;
  }
}
@media (max-width: 599px) {
  .header__buttons {
    width: 100%;
  }
}

.header__buttons-search {
  margin-left: auto;
}

.header__content {
  margin-bottom: 148px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .header__content {
    margin-bottom: 129px;
  }
}
@media (max-width: 899px) {
  .header__content {
    margin-bottom: 80px;
  }
}
@media (max-width: 599px) {
  .header__content {
    margin-bottom: 50px;
  }
}

.header__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .header__title {
    margin-bottom: 35px;
    font-size: 84px;
  }
}
@media (max-width: 899px) {
  .header__title {
    margin-bottom: 30px;
    font-size: 70px;
  }
}
.header-desc {
  margin-bottom: 70px;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: auto;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .header-desc {
    margin-bottom: 50px;
    font-size: 18px;
  }
}
@media (max-width: 899px) {
  .header-desc {
    font-size: 16px;
    max-width: 430px;
  }
}
@media (max-width: 599px) {
  .header-desc {
    margin-bottom: 30px;
  }
}

.header__form {
  display: flex;
  justify-content: center;
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 899px) {
  .header__form {
    flex-direction: column;
    align-items: center;
  }
}
.header__form > * + * {
  margin-left: 20px;
  /* Mobile */
}
@media (max-width: 899px) {
  .header__form > * + * {
    margin-left: 0;
    margin-top: 20px;
  }
}

.header__form-input {
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 899px) {
  .header__form-input {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .header__form-input {
    width: 290px;
  }
}

.header__scroll:hover {
  background-color: #00C470;
  border-radius: 50%;
}

.input {
  padding-left: 30px;
  padding-right: 30px;
  display: block;
  height: 60px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 60px;
  color: #fff;
}

.input::-moz-placeholder {
  color: #fff;
}

.input:-ms-input-placeholder {
  color: #fff;
}

.input::placeholder {
  color: #fff;
}

.input:focus {
  outline: none;
  background: rgb(0, 0, 0);
}

.button {
  display: inline-block;
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  background: #00C470;
  border-radius: 30px;
  border: none;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}
.button:hover {
  background: #00ad62;
}
.button:focus {
  outline: none;
  background: #00a05a;
}

.section-functional {
  padding-top: 80px;
  padding-bottom: 80px;
  /* Tablet */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-functional {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .section-functional {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-functional__header {
  margin-bottom: 70px;
  text-align: center;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .section-functional__header {
    margin-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .section-functional__header {
    margin-bottom: 40px;
  }
}

.section-functional__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-functional__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-functional__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-functional__title {
    margin-bottom: 10px;
  }
}

.section-functional__row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  /* Tablet */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-functional__row {
    flex-wrap: wrap;
    margin-top: -30px;
  }
}
@media (max-width: 599px) {
  .section-functional__row {
    margin-top: -40px;
  }
}

.section-functional__row > * {
  flex-shrink: 0;
  margin-left: 15px;
  margin-right: 15px;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15D784;
  /* Mobile */
}
@media (max-width: 899px) {
  .title {
    font-size: 14px;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .subtitle {
    font-size: 38px;
  }
}
@media (max-width: 899px) {
  .subtitle {
    font-size: 30px;
  }
}
@media (max-width: 599px) {
  .subtitle {
    font-size: 26px;
  }
}

.card {
  width: 270px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .card {
    width: 195px;
  }
}
@media (max-width: 899px) {
  .card {
    width: 270px;
    margin-top: 30px;
  }
}
@media (max-width: 599px) {
  .card {
    width: 290px;
    margin-top: 40px;
  }
}

.card__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  min-height: 64px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .card__img {
    margin-bottom: 20px;
  }
}

.card__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .card__title {
    margin-bottom: 10px;
    min-height: 32px;
  }
}
@media (max-width: 899px) {
  .card__title {
    min-height: unset;
  }
}

.card__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  color: #808080;
  /* Tablet */
}
@media (max-width: 1199px) {
  .card__text {
    line-height: 1.57;
  }
}

.section-cta {
  position: relative;
  padding-top: 83px;
  padding-bottom: 84px;
  background-image: url("./../img/bg/cta-bg-4.jpg");
  background-size: cover;
  background-position: center;
  /* Desktop medium */
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1600px) {
  .section-cta {
    background-image: url("./../img/bg/cta-bg-4-1600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 1199px) {
  .section-cta {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("./../img/bg/cta-bg-4-900.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 899px) {
  .section-cta {
    background-image: url("./../img/bg/cta-bg-4-600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 599px) {
  .section-cta {
    background-image: url("./../img/bg/cta-bg-4-320.jpg");
    background-size: cover;
    background-position: center;
  }
}
.section-cta__content {
  position: relative;
  z-index: 9;
  color: #FFFFFF;
  text-align: center;
}

.section-cta__title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  /* Mobile */
  /* Mobile-XS */
}
.section-cta__title span {
  text-transform: uppercase;
  font-weight: 700;
}
@media (max-width: 899px) {
  .section-cta__title {
    margin-bottom: 30px;
    font-size: 20px;
  }
}
@media (max-width: 599px) {
  .section-cta__title {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.section-tasks {
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #E1E1E1;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-tasks {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .section-tasks {
    padding-bottom: 10px;
  }
}
@media (max-width: 599px) {
  .section-tasks {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-tasks__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 114px;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-tasks__row {
    padding-left: 75px;
    padding-right: 0;
  }
}
@media (max-width: 899px) {
  .section-tasks__row {
    flex-direction: row-reverse;
    padding-left: 0;
  }
}
@media (max-width: 599px) {
  .section-tasks__row {
    flex-direction: column-reverse;
  }
}

.section-tasks__row > * {
  flex-shrink: 0;
}

.section-tasks__content {
  width: 570px;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-tasks__content {
    width: 495px;
  }
}
@media (max-width: 899px) {
  .section-tasks__content {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .section-tasks__content {
    width: 290px;
    text-align: center;
  }
}

.section-tasks__header {
  margin-bottom: 30px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .section-tasks__header {
    margin-bottom: 20px;
  }
}

.section-tasks__title {
  margin-bottom: 30px;
  /* Tablet */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-tasks__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-tasks__title {
    margin-bottom: 10px;
  }
}

.section-tasks__text {
  width: 400px;
  color: #808080;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .section-tasks__text {
    width: unset;
    max-width: 420px;
  }
}
@media (max-width: 899px) {
  .section-tasks__text {
    line-height: 1.7;
  }
}

.section-tasks__text p + p {
  margin-top: 1em;
}

.section-tasks__img {
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-tasks__img {
    width: 265px;
  }
}
@media (max-width: 899px) {
  .section-tasks__img {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .section-tasks__img {
    width: 100%;
    text-align: center;
  }
  .section-tasks__img img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 270px;
  }
}

.section-focus {
  padding-top: 80px;
  padding-bottom: 40px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .section-focus {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-x: hidden;
    /* Mobile */
    /* Mobile-XS */
  }
}
@media (max-width: 1199px) and (max-width: 899px) {
  .section-focus {
    padding-top: 50px;
    padding-bottom: 0;
  }
}
@media (max-width: 1199px) and (max-width: 599px) {
  .section-focus {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-focus__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 899px) {
  .section-focus__row {
    flex-direction: row-reverse;
  }
}
@media (max-width: 599px) {
  .section-focus__row {
    flex-direction: column;
  }
}

.section-focus__row > * {
  flex-shrink: 0;
}

.section-focus__img {
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-focus__img {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__img {
    width: 170px;
  }
  .section-focus__img img {
    max-width: unset;
    width: 415px;
    height: auto;
  }
}
@media (max-width: 599px) {
  .section-focus__img {
    width: 100%;
  }
  .section-focus__img img {
    max-width: 100%;
  }
}

.section-focus__content {
  width: 470px;
  padding-top: 28px;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-focus__content {
    width: 420px;
    padding-top: 12px;
  }
}
@media (max-width: 899px) {
  .section-focus__content {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .section-focus__content {
    width: 100%;
    text-align: center;
  }
}

.section-focus__header {
  margin-bottom: 30px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .section-focus__header {
    margin-bottom: 20px;
  }
}

.section-focus__title {
  margin-bottom: 30px;
  /* Tablet */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-focus__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-focus__title {
    margin-bottom: 10px;
  }
}

.section-focus__text {
  width: 400px;
  color: #808080;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .section-focus__text {
    width: unset;
    max-width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__text {
    line-height: 1.7;
  }
}

.section-focus__text p + p {
  margin-top: 1em;
}

.section-price {
  position: relative;
  padding-top: 90px;
  padding-bottom: 100px;
  background-image: url("./../img/bg/main-bottom-3.jpg");
  background-size: cover;
  background-position: center;
  /* Desktop medium */
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1600px) {
  .section-price {
    background-image: url("./../img/bg/main-bottom-3-1600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 1199px) {
  .section-price {
    background-image: url("./../img/bg/main-bottom-3-900.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-price {
    background-image: url("./../img/bg/main-bottom-3-600.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .section-price {
    background-image: url("./../img/bg/main-bottom-3-320.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 40px;
  }
}
.section-price__row {
  display: flex;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
  /* Mobile */
}
@media (max-width: 899px) {
  .section-price__row {
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
  }
}

.section-price__row > * {
  margin-left: 15px;
  margin-right: 15px;
  width: 300px;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-price__row > * {
    width: 270px;
  }
}
@media (max-width: 899px) {
  .section-price__row > * {
    margin-top: 30px;
  }
}
@media (max-width: 599px) {
  .section-price__row > * {
    width: 290px;
  }
}

.section-price__content {
  position: relative;
  z-index: 9;
}
.section-price__content .title, .section-price__content .subtitle {
  color: #fff;
}

.section-price__header {
  margin-bottom: 80px;
  text-align: center;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .section-price__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-price__header {
    margin-bottom: 40px;
  }
}

.section-price__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-price__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-price__title {
    margin-bottom: 10px;
  }
}

.package {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  color: #fff;
  text-align: center;
}
.package--special {
  background-color: rgba(48, 79, 254, 0.9490196078);
}
.package--special .package__title {
  color: #fff;
}
.package--special .package__period {
  background: rgba(0, 0, 0, 0.1);
}

.package__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.package__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #B2B2B2;
}

.package__price {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.package__period {
  display: inline-block;
  height: 24px;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.package__list {
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 58px;
}

.package__list-item {
  margin-bottom: 20px;
}
.package__list-item:last-child {
  margin-bottom: 0;
}

.package__button {
  margin-top: auto;
}

.button-outline {
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;
  border: none;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}
.button-outline:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0);
}
.button-outline:focus {
  outline: none;
  background: rgb(0, 0, 0);
}

.button-solid {
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  background: #fff;
  border-radius: 30px;
  border: none;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #2E2E2E;
  cursor: pointer;
}
.button-solid:hover {
  background: #000;
  color: #fff;
}
.button-solid:focus {
  outline: none;
  background: #2f2f2f;
  color: #fff;
}

.section-clients {
  padding-top: 80px;
  padding-bottom: 94px;
  /* Tablet */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-clients {
    padding-top: 50px;
    padding-bottom: 64px;
  }
}
@media (max-width: 599px) {
  .section-clients {
    margin-top: 40px;
    padding-bottom: 54px;
  }
}

.section-clients__header {
  margin-bottom: 60px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-clients__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-clients__header {
    margin-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .section-clients__header {
    margin-bottom: 30px;
  }
}

.section-clients__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .section-clients__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-clients__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-clients__title {
    margin-bottom: 10px;
  }
}

.slider-clients__slider {
  margin-left: auto;
  margin-right: auto;
  width: 770px;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .slider-clients__slider {
    width: 720px;
  }
}
@media (max-width: 899px) {
  .slider-clients__slider {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .slider-clients__slider {
    width: 290px;
  }
}

.slider {
  position: relative;
  margin: 0 auto;
  padding-bottom: 40px;
  width: 770px;
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 899px) {
  .slider {
    padding-bottom: 30px;
    width: 470px;
  }
}
@media (max-width: 599px) {
  .slider {
    padding-bottom: 40px;
    width: 290px;
  }
}

.slider__arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #F5F5F5;
  border: none;
  cursor: pointer;
  /* Mobile-XS */
}
.slider__arrow--left {
  top: 53px;
  transform: translateX(-100%);
}
.slider__arrow--right {
  top: 53px;
  right: 0px;
  transform: translateX(100%);
}
@media (max-width: 599px) {
  .slider__arrow {
    display: none;
  }
}

.slider__pagination {
  display: flex;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

.slider__pagination-item {
  margin-right: 10px;
  border: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #E1E1E1;
}
.slider__pagination-item:last-child {
  margin-right: 0;
}

.slider__pagination-item--active {
  background: #00C470;
}

.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-item__text {
  margin-bottom: 30px;
  padding: 0 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  color: #000000;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
.slider-item__text p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .slider-item__text {
    line-height: 1.5;
  }
}
@media (max-width: 899px) {
  .slider-item__text {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .slider-item__text {
    padding: 0 0;
    font-size: 14px;
  }
}

.slider-item__author {
  display: flex;
  align-items: center;
}

.slider-item__avatar {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  /* Mobile-XS */
}
@media (max-width: 599px) {
  .slider-item__avatar {
    margin-right: 10px;
    width: 60px;
    height: 60px;
  }
}

.slider-item__avatar-desc {
  font-size: 16px;
  font-weight: 500;
  /* Mobile-XS */
}
@media (max-width: 599px) {
  .slider-item__avatar-desc {
    font-size: 14px;
  }
}

.slider-item__avatar-desc-title {
  display: block;
  margin-bottom: 5px;
  color: #00C470;
}

.slider-item__avatar-desc-name {
  display: block;
  color: #808080;
}

.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #1A1A1A;
  color: #fff;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer__row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  /* Tablet */
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 1199px) {
  .footer__row {
    margin-bottom: 40px;
  }
}
@media (max-width: 899px) {
  .footer__row {
    flex-direction: column;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .footer__row {
    margin-bottom: 40px;
  }
}

.footer__nav {
  margin-right: 50px;
  /* Mobile */
  /* Mobile-XS */
}
@media (max-width: 899px) {
  .footer__nav {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .footer__nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
  }
}

.footer__nav-item {
  margin-right: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  /* Mobile-XS */
}
.footer__nav-item:last-child {
  margin-right: 0;
}
.footer__nav-item:hover {
  color: #15D784;
}
@media (max-width: 599px) {
  .footer__nav-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer__nav-item:last-child {
    margin-bottom: 0;
  }
}

.footer__social {
  display: flex;
}

.footer__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.1);
  /* Mobile-XS */
}
.footer__social-item:last-child {
  margin-right: 0;
}
.footer__social-item:hover {
  background: #00C470;
}
@media (max-width: 599px) {
  .footer__social-item {
    margin-right: 20px;
  }
}

.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
}

.footer__copyright p + p {
  margin-top: 1em;
}

.nav-icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}
.nav-icon:hover {
  background-color: #00C470;
}
.nav-icon:hover .nav-icon__middle,
.nav-icon:hover .nav-icon__middle::before,
.nav-icon:hover .nav-icon__middle::after {
  background-color: #fff;
}

.nav-icon__middle {
  position: relative;
  width: 20px;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  transition: background-color 0.2s ease-in;
}
.nav-icon__middle::before, .nav-icon__middle::after {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 3px;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  background-color: #000;
  border-radius: 2px;
}
.nav-icon__middle::before {
  top: -7px;
}
.nav-icon__middle::after {
  top: 7px;
}

/* Active state */
.nav-icon.nav-icon--active {
  z-index: 999;
}

.nav-icon.nav-icon--active .nav-icon__middle {
  background-color: transparent;
}
.nav-icon.nav-icon--active .nav-icon__middle::before, .nav-icon.nav-icon--active .nav-icon__middle::after {
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.nav-icon.nav-icon--active .nav-icon__middle::before {
  transform: rotate(45deg);
}
.nav-icon.nav-icon--active .nav-icon__middle::after {
  transform: rotate(-45deg);
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  transform: translateX(100%);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  text-align: center;
  transition: opacity 0.2s ease-in, top 0s linear 0.2s;
}

.nav.nav--active {
  z-index: 99;
  opacity: 1;
  transform: translateX(0);
  transition: all 0.4s ease-in;
}

.nav__top {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15D784;
  /* Mobile-XS */
}
@media (max-width: 599px) {
  .nav__top {
    margin-bottom: 30px;
    font-size: 16px;
  }
}

.nav__list {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  /* Mobile-XS */
}
@media (max-width: 599px) {
  .nav__list {
    font-size: 18px;
  }
}
.nav__list li {
  margin-bottom: 40px;
  /* Mobile-XS */
}
@media (max-width: 599px) {
  .nav__list li {
    margin-bottom: 30px;
  }
}
.nav__list a {
  text-decoration: none;
  color: #FFFFFF;
  transition: color 0.2s ease-in;
}
.nav__list a:hover {
  color: #15D784;
}

.search {
  position: relative;
  z-index: 9;
}

.search__input {
  width: 0px;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  outline: none;
  background: #FFFFFF;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 60px;
  color: #000000;
  transition: 0.2s ease-in;
}
.search__input::-moz-placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__input:-ms-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__input::placeholder {
  color: rgba(46, 46, 46, 0.5);
}

.search__button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.search__button:hover {
  background-color: #00C470;
}
.search__button:hover .search__button-icon {
  stroke: #fff;
}

.search__button-icon {
  stroke: black;
  transition: stroke 0.2s ease-in;
}

.search.search--visible .search__input {
  width: 340px;
  padding-left: 30px;
  padding-right: 70px;
  /* Mobile-XS */
}
@media (max-width: 599px) {
  .search.search--visible .search__input {
    width: 220px;
    padding-left: 15px;
    font-size: 14px;
  }
}
.search.search--visible .search__button {
  background-color: #00C470;
}
.search.search--visible .search__button:hover {
  background-color: #15D784;
}
.search.search--visible .search__button-icon {
  stroke: white;
}

/* Tablet */
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
/* Mobile */
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
/* Mobile-XS */
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}/*# sourceMappingURL=main.css.map */